@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Guilherme da Silva Nascimento<br />
    Silas, N° 246<br />
    <abbr title="Telefone">Cel: </abbr>
    (11) 98187-6377
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">guilherme.dasilvanascimento@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">guilherme.dasilvanascimento@gmail.com</a>
</address>
